*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.interface {
  display: flex;
  flex-direction: column;
  background-color: hsl(277, 65%, 89%);
  border-radius: 15px;
  min-width:20rem;
  width: 30vw;
  aspect-ratio: 4 / 5;
}

.interface--screen {
  flex-grow: 1;
  flex-basis:1rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin: 1.5rem;
  background-color: white;
  border-radius: 10px;
  font-size: calc(2rem + 0.5vw);
}

.interface--buttons {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem;
  border-radius: 8px;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(media/background.jpg) no-repeat;
  background-size: cover;
}

.buttons--row {
  display: flex;
}
.row--button {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  font-size: calc(1.6rem + 0.25vw);
}
